{% extends "base.html" %} {% block css %}{{path}}/CSS/carte.css{% endblock %} {% block title %}Enchere{% endblock %} {% block body %}
<main class="contenu-principale">
    <section class="affichage-images">
        <div class="image-principale"> <i class="fa-solid fa-arrow-left"></i> <img src="{{path}}/Assets/timbre_1/timbre_1.1.webp" alt=""> <i class="fa-solid fa-arrow-right"></i> </div>
        <div class="image-carrousel"> <img src="{{path}}/Assets/timbre_1/timbre_1.2.webp" alt="" class="carrousel-item"> <img src="{{path}}/Assets/timbre_1/timbre_1.3.webp" alt="" class="carrousel-item"> </div>
    </section>
    <section class="affichage-description">
        <header>
            <div> <a href="catalogue"><i class="fa-solid fa-caret-left"></i> Retour dans le catalogue</a> </div>
            <div> <a href="#"><i class="fa-regular fa-star"></i></a> <a href="#"><i class="fa-regular fa-bell"></i></a> </div>
        </header>
        <article>
            <div class="description-titre">
                <h1>timbre PAYS BAS YT 1291 Centenaire des ventes aux enchères 1987</h1>
                <h3>#040906</h3> </div>
            <div class="description-prix">
                <div class="prix-liste">
                    <div>
                        <h4><i>Prix enchère:</i></h4>
                        <h1>5,240 $</h1> </div>
                    <div>
                        <h4><i>Prix achat immédiat:</i></h4>
                        <h1>13,000 $</h1> </div>
                </div>
                <div class="action">
                    <label for="">
                        <input type="text" name="prixMise">
                        <button>Miser</button>
                    </label>

                    <button>Acheter</button>
                </div>
            </div>
            <div class="description-info">
                <h4><i>Date finale des enchères:</i></h4>
                <h2>12:00 AM - 24 decembre 2023 (GMT-5)</h2> </div>
        </article>
        <footer>
            <div>
                <h5>Shipping:</h5>
                <div>
                    <p>USD 5.85 par FedEx ou Purolator</p>
                    <p>Le prix peut varié l'adresse se trouve hors Canada </p>
                    <p>Localisé à: Kingston, Ontario, Canada</p>
                </div>
            </div>
            <div>
                <h5>Delivery:</h5>
                <p>Date de reception estimé entre 26 decembre 2023 et 12 janvier 2024</p>
            </div>
            <div>
                <h5>Payments:</h5>
                <div> <i class="fa-brands fa-paypal"></i> <i class="fa-brands fa-cc-mastercard"></i> <i class="fa-brands fa-cc-visa"></i> <i class="fa-brands fa-google-pay"></i> <i class="fa-brands fa-cc-apple-pay"></i> </div>
            </div>
            <div>
                <h5>Returns:</h5>
                <p>Aucune retour est accepté</p>
            </div>
        </footer>
    </section>
</main> {% endblock %}
