{% extends "base.html" %} {% block css %}{{path}}/CSS/compte.css{% endblock %} {% block title %}Compte{% endblock %} {% block body %}
<main class="menu-compte">
    <nav class="menu">
        <button class="info">Mes informations</button>
        <button class="mises">Mes mises</button>
        <button class="favoris">Mes favoris</button>
        <button class="timbres">Mes timbres</button>
    </nav>
    <div class="contenu">
        <script id="infoCompte" type="text/template">
            <div>
                <h3>Nom utilisateur: {{ membre.Prenom }} {{ membre.Nom }}</h3>
                <h3>Courriel: {{ membre.username }}</h3>
                <h3>Adresse: {{ membre.adresse }}, {{ membre.zipCode }}</h3>
                <h3>Téléphone: {{ membre.phone }}</h3>
                <h3>Courriel: {{ membre.username }}</h3>
                <h3>
                    <p>Mot de passe:  </p><input type="password">
                </h3>
                <h3>
                    <p>Confirmez mot de passe: </p><input type="password" name='password'>
                </h3>
                <p><button class='btn-standart' id='motpasse'>Sauvegarder</button></p>
            </div>
        </script>

        <script id="favoris" type="text/template">
            <div>
                <h3>Liste des favoris</h3>
                <div class='cartes-liste'>
                    {% for favori in favoris %}
                    <div class="carte"> <img src="{{ favori.url }}" alt="">
                        <header>
                            <h4 class="title">{{ favori.titre }}</h4>
                            <div>
                              <a href="timbre/show/{{ favori.idTimbre }}"><i class="fa-solid fa-hand-point-up"></i></a>
                              <p>Date finale: {{ favori.dateFin }}</p>
                            </div>
                        </header>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </script>

        <script id="listeMises" type="text/template">
            <div>
                <h3>Liste des mises</h3>
                <div class='cartes-liste'>
                {% for mise in mises %}
                <div class="carte"> <img src="{{ mise.url }}" alt="">
                    <header>
                        <h4 class="title">{{ mise.titre }}</h4>
                        <div>
                          <a href="timbre/show/{{ mise.idTimbre }}"><i class="fa-solid fa-hand-point-up"></i></a>
                          <p>Votre mise: {{ mise.prixMise }}</p>
                          <p>Date de mise: {{ mise.dateMise }}</p>
                        </div>
                    </header>
                </div>
                {% endfor %}
                </div>
            </div>
        </script>

        <script id="listeTimbres" type="text/template">
            <h3>Liste des timbres </h3>
            <p><a href="timbre/create" class="btn-standart">Ajouter une timbre</a></p>
            <div class='cartes-liste'>
                {% for timbre in timbres %}
                <div class="carte"> <img src="{{ timbre.url }}" alt="">
                    <header>
                        <h4 class="title">{{ timbre.titre }}</h4>
                        <div>
                          <p>
                            <a href="timbre/show/{{ timbre.idTimbre }}"><i class="fa-solid fa-hand-point-up"></i></a>
                            <a href="timbre/supprimer/{{ timbre.idTimbre }}" class='supprimer'><i class="fa-solid fa-x"></i></a>
                            <a href="timbre/modifier/{{ timbre.idTimbre }}" class='modifier'><i class="fa-solid fa-pen"></i></a>
                           </p>
                        </div>
                    </header>
                </div>
                {% endfor %}
            </div>
        </script>

    </div>
    <script src="{{path}}/script/gest_compte.js"></script>
</main> {% endblock %}
